<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://i.stack.imgur.com/luaq2.png" alt="" height="200px" srcset="">
  </div>
  <div class="big-card__title">
    <a href="#" target="_blank"><h1>Saiu a nova versão do Angular!</h1></a>
  </div>
  <div class="big-card__description">
    <a href="#"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat iste consectetur praesentium, aspernatur assumenda amet impedit debitis nihil nobis! Voluptates, inventore error. Distinctio sit corrupti voluptatum similique commodi odio quia?</p></a>
  </div>
</div>