@media screen and (max-width: 1000px) {
  .container__small-card {
    width: 100%;
    margin-bottom: 15px;
  }
  .small-card__title {  
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 500px) {
  .small-card__title {
    font-size: 0.5rem; 
  }
}