.container__content {
  max-width: 960px;
  height: 100%;
  margin-top: 20px ;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
}

.content__cover > img {
  border-radius: 10px;
  width: 500px;
  min-width: 500px;
  height: 300px;
}

.content__title {
  margin-top: 20px;
}

.content__description {
  margin-top: 20px;
}

.content__description > p {
  color: rgb(198, 197, 197);
  line-height: 20px;
  text-align: justify;
}

.content__description > p::before {
  content: "";
  margin-right: 20px;
}